<div class="homepage-custom">
	<div id="scrollAbout"></div>
  <div class="homepage-custom__parallax">
    <div class="home-about-text">
      <p>We cook,</p>
		<p>We create,</p>
		<p>We are incredibly excited by <span>what we do.</span></p>
		<a href="/pages/about-us-1" class="home-about-link global-button">Learn More</a>
    </div>
  </div>
</div>
