<div class="home-slideshow">
    <div class="slideshow-slides">
          <div id="slide-1">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/collections/subscriptions"></a>
            <img class="slide-image" alt="Single Origin Coffee" src="https://cdn.shopify.com/s/files/1/1153/9300/files/Slider-1.png?15588792751998643898">
              <div class="slide-content">
                  <p>Category</p>
                  <h3 class="slide-title">我们定期会发送免费样品</h3>
                  <a class="button" href="#scrollCategory">
				Category
					</a>
              </div>
          </div>
          <div id="slide-2">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/pages/sample-page"></a>
            <img class="slide-image" alt="Award Winning" src="https://cdn.shopify.com/s/files/1/1153/9300/files/Slider-2.png?15588792751998643898">   
              <div class="slide-content">
                  <p>About</p>
                  <h3 class="slide-title">我们多种多的商品</h3>
                  <a class="button" href="#scrollAbout">
				About
					</a>
              </div>  
          </div>
          <div id="slide-3">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/pages/sample-page"></a>
            <img class="slide-image" alt="New Location" src="https://cdn.shopify.com/s/files/1/1153/9300/files/Slider-3.png?15588792751998643898">
              <div class="slide-content">
                  <p>Subscribe</p>
                  <h3 class="slide-title">我们公司的新闻状态</h3>
                  <a class="button" href="#scrollSubscribe">
				Subscribe
					</a>
              </div>
          </div>
    </div>
<div id="scroll"></div>
  </div>
