<div class="homepage-page homepage--white">
	<div id="scrollSubscribe"></div>
  <div class="wrapper home-subscribe-container">
    <h3>Dear SavorMaster,</h3>
    <form class="" id="subscribe-form" role="form" style="">
      <div class="banner-form-text">
		<span class="one-line">
			<span class="inline-block">
	        I am
	        <div class="banner-form-input">
	          <input name="name" placeholder="name" required="" type="text" style="">
	        </div>
			</span>
			<span class="inline-block">
	        and my email is
	        <div class="banner-form-input">
	          <input name="email" placeholder="email" required="" type="email">
	        </div>
			.
			</span>
		</span>
        <span class="one-line">
          	I want to share with you my favorite things to eat, 
        </span>
		<span class="one-line">
        as well as my wildest food ideas:
        <div class="banner-form-input">
          <input name="food" class="food-input" ng-model-options="{ allowInvalid: true }" placeholder="food" required="" type="text">
        </div>
		</span>
      </div>
		<a class="global-button subscribe-button" href="#">
	        Subscribe
	      </a>
    </form>
  </div>
</div>