<div class="home-slideshow">
    <div class="slideshow-slides">
          <div id="slide-1">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/collections/subscriptions"></a>
            <img class="slide-image" alt="Single Origin Coffee" src="https://cdn.shopify.com/s/files/1/1153/9300/files/Slider-1.png?15588792751998643898">
              <div class="slide-content">
                  <!--<h3 class="slide-title">Main Title Here</h3>-->
				<p>We are dedicated to present you the finest flavors from all over the world.</p>
                  <a class="global-button" href="#scrollCategory">
				Collections
					</a>
              </div>
          </div>
          <div id="slide-2">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/pages/sample-page"></a>
            <img class="slide-image" alt="Award Winning" src="https://cdn.shopify.com/s/files/1/1153/9300/files/Slider-2.png?15588792751998643898">   
              <div class="slide-content">
                 <!-- <h3 class="slide-title">Main Title Here</h3>-->
				<p>Welcome to Savor Master, we're so glad you're here.</p>
                  <a class="global-button" href="#scrollAbout">
				About us
					</a>
              </div>  
          </div>
          <div id="slide-3">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/pages/sample-page"></a>
            <img class="slide-image" alt="New Location" src="https://cdn.shopify.com/s/files/1/1153/9300/files/Slider-3.png?6891579210000054152">
              <div class="slide-content">
                  <!--<h3 class="slide-title">Main Title Here</h3>-->
				<p>We share our food enthusiasm with you, and may you share yours.</p>
                  <a class="global-button" href="#scrollSubscribe">
				Subscribe
					</a>
              </div>
          </div>
    </div>
<div id="scroll"></div>
  </div>
