<div class="homepage-page homepage--white">
	<div id="scrollCategory"></div>
	<div class="home-category-container">
        <h4 class="home__subtitle">Collections</h4>
        <div class="homepage-page__content">
			<div class="home-module-inline-items">
            	<div class="home-featured-collection">
					<div class="home-featured-collection-image-container">
	              		<a class="home-featured-collection-link" href="/pages/collections"></a>
			              <div class="home-featured-collection-image">
			                  <img alt="Coffee Gear" src="https://cdn.shopify.com/s/files/1/1153/9300/files/category-1.png?2553341851291797413">
			              </div>
			              <div class="home-featured-collection-content">
			                <h3>SAMA</h3>
			              </div>
					</div>
					<div class="home-featured-collection-text">
						<p>Life without sweetness is insipid. If you agree, we have something for you.</p>
		             <div class="readmore-container"><a class="readmore" href="/pages/collections">Read more</a></div>
		           </div>
	            </div><div class="home-featured-collection">
					<div class="home-featured-collection-image-container">
	              		<a class="home-featured-collection-link" href="/pages/collections/#scroll-weidao"></a>
			              <div class="home-featured-collection-image">
			                  <img alt="Subscriptions" src="https://cdn.shopify.com/s/files/1/1153/9300/files/category-2.png?2553341851291797413">
			              </div>
			              <div class="home-featured-collection-content">
			                <h3 class="chinese-font">味&middot;道</h3>
			              </div>
					</div>
					<div class="home-featured-collection-text">
						<p>No matter where you are what you do, the longings for home linger.</p>
		             <div class="readmore-container"><a class="readmore" href="/pages/collections/#scroll-weidao">Read more</a></div>
		           </div>
	            </div>
	          
	      </div>
		</div>
      </div>
</div>
