<div class="video">
    <div class="vdtitle">
    	<p>美味佳肴</p>
		<p>订阅我们</p>
    </div>
    <video poster="/pc/src/images/video-frame1.jpg" muted="muted" loop="loop" autoplay="autoplay" class="indexvd">
        <source src="https://dn-xinweicook.qbox.me/0111%E6%96%B0%E5%91%B3%E7%BD%91%E7%AB%99video.mp4" type="video/mp4">
    </video>
	<div id="header-indicator"></div>
</div>