<div class="home-slideshow">
    <div class="slideshow-slides">
          <div id="slide-1">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/collections/subscriptions"></a>
            <img class="slide-image" alt="Single Origin Coffee" src="https://cdn.shopify.com/s/files/1/1153/9300/files/slide1.jpg?5111938418634056776">
              <div class="slide-content">
                  <p>加入我们</p>
                  <h3 class="slide-title">我们定期会发送免费样品</h3>
                  <a class="button" href="/pages/subscribe">
					订阅
					</a>
              </div>
          </div>
          <div id="slide-2">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/pages/sample-page"></a>
            <img class="slide-image" alt="Award Winning" src="https://cdn.shopify.com/s/files/1/1153/9300/files/slide1.jpg?5111938418634056776">   
              <div class="slide-content">
                  <p>购买商品</p>
                  <h3 class="slide-title">我们多种多的商品</h3>
                  <a class="button" href="/collections/all">
					购物
					</a>
              </div>  
          </div>
          <div id="slide-3">
              <a class="slide-link" href="https://pacific-theme-warm.myshopify.com/pages/sample-page"></a>
            <img class="slide-image" alt="New Location" src="https://cdn.shopify.com/s/files/1/1153/9300/files/slide1.jpg?5111938418634056776">
              <div class="slide-content">
                  <p>了解我们</p>
                  <h3 class="slide-title">我们公司的新闻状态</h3>
                  <a class="button" href="/collections/all">
					查看
					</a>
              </div>
          </div>
    </div>
<div id="scroll"></div>
  </div>
