<div class="homepage-custom">
	<div id="scrollAbout"></div>
  <div class="homepage-custom__parallax">
    <div class="home-about-text">
      <p>We cook,</p>
		<p>We create,</p>
		<p>We are incredibly excited by what we do.</p>
		<a href="/pages/about-us-1" class="home-about-link global-button">Learn more</a>
    </div>
  </div>
</div>
