<div class="homepage-page homepage--white">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">
        <h4 class="home__subtitle">产品种类</h4>
        <div class="rte homepage-page__content">
			<div class="home-module-inline-items">
            	<div class="home-featured-collection text-color-light text-shadows-true">
	              <a class="home-featured-collection-link" href="/collections/1"></a>
	              <div class="home-featured-collection-image">
	                  <img alt="Coffee Gear" src="https://cdn.shopify.com/s/files/1/1153/9300/files/category1.jpg?5111938418634056776">
	              </div>
	              <div class="home-featured-collection-content">
	                <h3>种类一</h3>
	              </div>
	            </div>
	            <div class="home-featured-collection text-color-light text-shadows-true">
	              <a class="home-featured-collection-link" href="/collections/2"></a>
	              <div class="home-featured-collection-image">
	                  <img alt="Subscriptions" src="https://cdn.shopify.com/s/files/1/1153/9300/files/category2.jpg?5111938418634056776">
	              </div>
	              <div class="home-featured-collection-content">
	                <h3>种类二</h3>
	              </div>
	            </div>
	            <div class="home-featured-collection text-color-light text-shadows-true">
	              <a class="home-featured-collection-link" href="/collections/3"></a>
	              <div class="home-featured-collection-image">
	                  <img alt="Fresh Roasted Beans" src="https://cdn.shopify.com/s/files/1/1153/9300/files/category3.jpg?5111938418634056776">
	              </div>
	              <div class="home-featured-collection-content">
	                <h3>种类三</h3>
	              </div>
	            </div>
	      </div>
		</div>
      </div>
    </div>
  </div>
</div>
