<div class="homepage-custom">
	<div id="scrollAbout"></div>
  <div class="homepage-custom__parallax">
    <div class="home-about-text">
      <p>We cook,</p>
		<p>We create,</p>
		<p>We're incredibly excited by what we do,</p>
		<p>We've still got a lot to achieve.</p>
		<a href="#" class="home-about-link">Read More</a>
    </div>
  </div>
</div>
