<div id="collections-page">

  	<div>
		<div class="collection-item collection-item-one">
			<h3>SAMA</h3>
			<div class="collection-item-text">
				<div class="text-content-container">
				<div class="text-content">
					<p>Life without sweetness is insipid.</p>
					<p>If you agree, we have something for you. And if you disagree, think again.</p>
					<p>Let me introduce you SAMA by Savor Master</p>
					<p>Any sought-after flavors around the world - subtle or luscious - we make'em right.</p>
					<p>Simple. Simplicity is the ultimate form of sophistication;</p>
					<p>Authentic. Original flavor with no compromise is the bottom line;</p>
					<p>Modern. Traditional or classical, native or exotic, better off with a modern twist;</p>
					<p>Artistic. And always a plus when food looks good.</p>
					<p>Simple, Authentic, Modern, Artistic. S.A.M.A. These are simple what we do.</p>
				</div>
				</div>
			</div>
		</div>
		<div class="mobile-text-content">
			<p>Life without sweetness is insipid.</p>
			<p>If you agree, we have something for you. And if you disagree, think again.</p>
			<p>Let me introduce you SAMA by Savor Master</p>
			<p>Any sought-after flavors around the world - subtle or luscious - we make'em right.</p>
			<p>Simple. Simplicity is the ultimate form of sophistication;</p>
			<p>Authentic. Original flavor with no compromise is the bottom line;</p>
			<p>Modern. Traditional or classical, native or exotic, better off with a modern twist;</p>
			<p>Artistic. And always a plus when food looks good.</p>
			<p>Simple, Authentic, Modern, Artistic. S.A.M.A. These are simple what we do.</p>
		</div>
		<div class="collection-item collection-item-two">
			<div id="scroll-weidao"></div>
			<h3 class="chinese-font">味&middot;道</h3>
			<div class="collection-item collection-item-text">
				<div class="text-content-container">
				<div class="text-content">
					<p>No matter where you are what you do, the longings for home linger.</p>
					<p>Yearning for tastes of home is probably the most straightforward expression.</p>
					<p>A meal cooked by mom, a taste that reminds you of childhood.</p>
					<p>Fragrant, Savory, Umami, Spicy, Aftertaste.</p>
					<p>Bagged, sealed, and delivered. There you have it, a piece of memory, a cure to your homesickness.</p>
					<p>We are serious about what we do, so join us in a cheerful but adventurous journey home.</p>
				</div>
				</div>
			</div>
		</div>
		<div class="mobile-text-content">
			<p>No matter where you are what you do, the longings for home linger.</p>
			<p>Yearning for tastes of home is probably the most straightforward expression.</p>
			<p>A meal cooked by mom, a taste that reminds you of childhood.</p>
			<p>Fragrant, Savory, Umami, Spicy, Aftertaste.</p>
			<p>Bagged, sealed, and delivered. There you have it, a piece of memory, a cure to your homesickness.</p>
			<p>We are serious about what we do, so join us in a cheerful but adventurous journey home.</p>
		</div>
	</div>
</div>