<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item large--one-whole">
		<div class="about-us">
		    <h4>我们定义urban饮食新方式</h4>
		    <p>可口暖心的一餐，兴之所至的灵感，情味深长的瞬间……递送到门的盒子都已准备齐全。抛却冗长繁琐，只为你提炼美味体验最精华的一环，尽享人生好滋味。</p>
		    <ul>
		        <li class="poster">
					<div class="poster-image-container">
						<img class="poster-image" src="https://cdn.shopify.com/s/files/1/1153/9300/files/aboutus1.jpg?1321929592631011887">
						<h5 class="mobile">专业后厨</h5>
					</div>
					<div class="poster-text">
			            <h5>专业后厨</h5>
			            <p>5星级酒店团队为您按份设计食谱、收集食材、清洗切配、熬高汤、调酱汁、真空慢煮，费时费工的活我们做。</p>
					</div>
		        </li>
				<li class="poster">
					<div class="poster-image-container">
						<img class="poster-image" src="https://cdn.shopify.com/s/files/1/1153/9300/files/aboutus2.jpg?1321929592631011887">
						<h5 class="mobile">轻松好味</h5>
					</div>
					<div class="poster-text">
			            <h5>轻松好味</h5>
			            <p>按部就班，依照图文6步骤烹制美食，或一步到位直接加热即食包，自由把控时间，便捷美味不打折。</p>
					</div>
		        </li>
				<li class="poster">
					<div class="poster-image-container">
						<img class="poster-image" src="https://cdn.shopify.com/s/files/1/1153/9300/files/aboutus3.jpg?1321929592631011887">
						<h5 class="mobile">严选食材</h5>
					</div>
					<div class="poster-text">
			            <h5>严选食材</h5>
			            <p>我们寻觅真正的食材行家，生态、环保、安全、可持续食材遴选标准，古法培育，农场直供，纯净新鲜，绿食零距离。</p>
					</div>
		        </li>
				<li class="poster">
					<div class="poster-image-container">
						<img class="poster-image" src="https://cdn.shopify.com/s/files/1/1153/9300/files/aboutus4.jpg?1321929592631011887">
						<h5 class="mobile">冷链运输</h5>
					</div>
					<div class="poster-text">
			            <h5>冷链运输</h5>
			            <p>各食材按类科学包装，新鲜、洁净、不串味，全程无缝冷链，最快45分钟，最晚隔日即可送达。</p>
					</div>
		        </li>
		    </ul>
		</div>
	</div>
  </div>
</div>