<div id="aboutus-page">
  	<div class="banner">
		<h3>About Us</h3>
	</div>
	<div class="page-content">
		<div class="column">
			<div class="info-block">
				<span class="info-text">Savor Master aspires to be the pioneer and leader of food and technology companies.</span>
				<img class="info-icon" src="https://cdn.shopify.com/s/files/1/1153/9300/files/avator1.png?16905515664218971277">
			</div>
			<div class="info-block">
				<span class="info-text">Based in New England, we make delicious, healthy, high quality food.</span>
				<img class="info-icon" src="https://cdn.shopify.com/s/files/1/1153/9300/files/avator2.png?16905515664218971277">
			</div>
			<div class="info-block">
				<span class="info-text">We love to gather great food ideas, inspire creativity and encourage experimentation. We strive to bring you the most authentic gourmet flavor from all over the world.</span>
				<img class="info-icon" src="https://cdn.shopify.com/s/files/1/1153/9300/files/avator3.png?16905515664218971277">
			</div>
		</div><div class="column">
			<div class="info-block">
				<span class="info-text">We won't tell you "this is delicious you should try it!", instead, we ask, "what do you like to eat and we will nail it." And when we say, "nail it", we mean it. Strong, knowledgeable and diverse R&B team based in Boston MA, Providence RI and Dallas TX, will research, test, develop and produce the most original and authentic flavor.</span>
				<img class="info-icon" src="https://cdn.shopify.com/s/files/1/1153/9300/files/avator4.png?16905515664218971277">
			</div>
			<div class="info-block">
				<span class="info-text">Welcome to Savor Master, we're so glad you're here.</span>
				<img class="info-icon" src="https://cdn.shopify.com/s/files/1/1153/9300/files/avator5.png?16905515664218971277">
			</div>
		</div>
	</div>
</div>